.html,body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container div {
  font-size: 2.5em;
}

@media screen and (min-width: 768px) {
  .container div {
    font-size: 5em;
  }
}